<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <img class="img-fluid" src="{{ 'images/illustrations/plakat_darmowe_konsultacje.png' | relative_url }}">
    </div>
</div>

<script>
    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function showModal() {
        modal.style.display = "inline-block";
    }

    var current_date = new Date();
    var until_date = new Date({{include.until}});
    if (current_date < until_date) {
      window.onload = showModal;
    }
</script>
