---
title: Kontakt
layout: default
bodyClass: page-contact
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row">
        <div class="col-auto">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                {% include call.html show_button=false %}
                <div class="content mt-4">{{content}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        {% assign teams = site.team | sort: "weight" %}
        {% for team in teams %}
        <div class="col-12 col-md-6 pb-2 pb-md-6">
            <div class="team team-summary">
                {% if team.image %}
                <div class="team-image">
                    <img alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name"><a href="../team{{ team.title | slugify: "latin" | relative_url }}">{{ team.title }}</a></h2>
                    <p class="team-description">{{ team.role }}</p>
                    <div class="call-phone">
                        <span style="white-space: nowrap"><img src="{{ 'images/contact/phone.png' | relative_url }}" width="20em"><a href="tel:{{ team.phone }}"> {{ team.phone }}</a></span>
                    </div>
                    <div class="call-email">
                        <span style="white-space: nowrap"><img src="{{ 'images/contact/mail.png' | relative_url }}" width="20em"><a href="mailto:{{ team.mail }}"> {{ team.mail }}</span></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">{% include map.html %}</div>
    </div>
</div>
