---
layout: default
bodyClass: page-grafik
---

<div class="schedule" aria-labelledby="schedule-heading">

    <h2 class="time-slot" style="grid-row: time-0700;">07:00</h2>
	<!--<h2 class="time-slot" style="grid-row: time-0730;">07:30</h2>
	<h2 class="time-slot" style="grid-row: time-0800;">08:00</h2>
	<h2 class="time-slot" style="grid-row: time-0830;">08:30</h2>
	<h2 class="time-slot" style="grid-row: time-0900;">09:00</h2>
	<h2 class="time-slot" style="grid-row: time-0930;">09:30</h2>
	<h2 class="time-slot" style="grid-row: time-1000;">10:00</h2>-->
	<h2 class="time-slot" style="grid-row: time-1030;">...</h2>
	<h2 class="time-slot" style="grid-row: time-1100;">11:00</h2>
	<h2 class="time-slot" style="grid-row: time-1130;">11:30</h2>
	<h2 class="time-slot" style="grid-row: time-1200;">12:00</h2>
	<!--<h2 class="time-slot" style="grid-row: time-1230;">12:30</h2>
	<h2 class="time-slot" style="grid-row: time-1300;">13:00</h2>
	<h2 class="time-slot" style="grid-row: time-1330;">13:30</h2>-->
	<h2 class="time-slot" style="grid-row: time-1400;">...</h2>
	<h2 class="time-slot" style="grid-row: time-1430;">14:30</h2>
	<h2 class="time-slot" style="grid-row: time-1500;">15:00</h2>
	<h2 class="time-slot" style="grid-row: time-1530;">15:30</h2>
	<h2 class="time-slot" style="grid-row: time-1600;">16:00</h2>
	<h2 class="time-slot" style="grid-row: time-1630;">16:30</h2>
	<h2 class="time-slot" style="grid-row: time-1700;">17:00</h2>
	<h2 class="time-slot" style="grid-row: time-1730;">17:30</h2>
	<h2 class="time-slot" style="grid-row: time-1800;">18:00</h2>
	<h2 class="time-slot" style="grid-row: time-1830;">18:30</h2>
	<h2 class="time-slot" style="grid-row: time-1900;">19:00</h2>
	<h2 class="time-slot" style="grid-row: time-1930;">19:30</h2>
	<h2 class="time-slot" style="grid-row: time-2000;">20:00</h2>
	<h2 class="time-slot" style="grid-row: time-2030;">20:30</h2>


    <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">Poniedziałek</span>
    
    <div class="session" style="grid-column: track-1; grid-row: time-1630 / time-2000;">
		<h3 class="session-title">Terapie indywidualne</h3>
		<span class="session-time">16:30 - 20:00</span>
		<span class="session-presenter">Pedagog specjalny</span>
	</div>

    <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">Wtorek</span>
    
    <div class="session" style="grid-column: track-2; grid-row: time-1430 / time-1900;">
		<h3 class="session-title">Terapie indywidualne</h3>
		<span class="session-time">14:30 - 19:00</span>
		<span class="session-presenter">Psycholog</span>
	</div>

	<span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">Środa</span>

    <div class="session" style="grid-column: track-3; grid-row: time-1730 / time-1830;">
		<h3 class="session-title">TUS 9-12 lat</h3>
		<span class="session-time">17:30 - 18:30</span>
        <span class="session-presenter">Pedagog</span>
        <span class="session-presenter">Psycholog</span>
	</div>

		<div class="session" style="grid-column: track-3; grid-row: time-1900 / time-2000;">
		<h3 class="session-title">Terapie indywidualne</h3>
		<span class="session-time">19:00 - 20:00</span>
		<span class="session-presenter">Pedagog</span>
	</div>

    <span class="track-slot" aria-hidden="true" style="grid-column: track-4; grid-row: tracks;">Czwartek</span>

	<div class="session" style="grid-column: track-4; grid-row: time-1730 / time-1830;">
		<h3 class="session-title">TUS 5-8 lat</h3>
		<span class="session-time">17:30 - 18:30</span>
        <span class="session-presenter">Pedagog</span>
        <span class="session-presenter">Pedagog specjalny</span>
	</div>

    <span class="track-slot" aria-hidden="true" style="grid-column: track-5; grid-row: tracks;">Piątek</span>

	<div class="session" style="grid-column: track-5; grid-row: time-1730 / time-1830;">
		<h3 class="session-title">Joga</h3>
		<span class="session-time">17:30 - 18:30</span>
		<span class="session-presenter">Pedagog</span>
	</div>

	<div class="session" style="grid-column: track-5; grid-row: time-1830 / time-2030;">
		<h3 class="session-title">Terapie indywidualne</h3>
		<span class="session-time">18:30 - 20:30</span>
		<span class="session-presenter">Pedagog</span>
	</div>

    <span class="track-slot" aria-hidden="true" style="grid-column: track-6; grid-row: tracks;">Sobota</span>

	<div class="session" style="grid-column: track-6; grid-row: time-0700 / time-1100;">
		<h3 class="session-title">Terapie indywidualne</h3>
		<span class="session-time">07:00 - 11:00</span>
		<span class="session-presenter">Psycholog</span>
	</div>

	<div class="session" style="grid-column: track-6; grid-row: time-1100 / time-1200;">
		<h3 class="session-title">Arteterapia</h3>
		<span class="session-time">11:00 - 12:00</span>
        <span class="session-presenter">Psycholog</span>
        <span class="session-presenter">Pedagog specjalny</span>
	</div>

</div>

<div class="change-disclaimer">Grafik obowiązuje od 01.09.2021 i może w przyszłości ulec zmianie.</div>